<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/settings/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/setrings/1.0.0 
          http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <profiles>
    <profile>
      <id>flex-extras</id>
      <repositories>
        <repository>
          <id>flex</id>
          <url>http://repository.sonatype.org:8081/content/repositories/flex</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>sonatype-flex-releases</id>
          <url>http://repository.sonatype.org:8081/content/repositories/sonatype-flex-releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>flex</id>
          <url>http://repository.sonatype.org:8081/content/repositories/flex</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>sonatype-flex-releases</id>
          <url>http://repository.sonatype.org:8081/content/repositories/sonatype-flex-releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>flex-extras</activeProfile>
  </activeProfiles>
</settings>
