<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<actionScriptProperties 
        mainApplicationPath="$mainApplication"
#if($projectUUID)
		projectUUID="$projectUUID"
#end
        version="$ideVersion"
        >

    <compiler
#if( $flexSDK != "default" )
			flexSDK="$flexSDK"
#end 
            additionalCompilerArguments="$!additionalCompilerArguments"
            autoRSLOrdering="true"
            copyDependentFiles="true"
            fteInMXComponents="false" 
            generateAccessible="$accessible" 
            htmlExpressInstall="$htmlExpressInstall" 
            htmlGenerate="$htmlGenerate" 
            htmlHistoryManagement="$htmlHistoryManagement"
            htmlPlayerVersionCheck="$htmlPlayerVersionCheck"
			includeNetmonSwc="false"
            outputFolderPath="$ideOutputFolderPath" 
            sourceFolderPath="$mainSources" 
            strict="$strict"
#if($useApolloConfig)
			targetPlayerVersion="0.0.0"
#else
			targetPlayerVersion="$targetPlayer"
#end
            useApolloConfig="$useApolloConfig"
            useDebugRSLSwfs="true"
            verifyDigests="$verifyDigests" 
            warn="$showWarnings"
            >

        <compilerSourcePath>
#foreach ($path in $sources)
            <compilerSourcePathEntry 
                    kind="1" 
                    linkType="1" 
                    path="$path"
                    />
#end 
        </compilerSourcePath>

        <libraryPath
                defaultLinkType="$libraryPathDefaultLinkType">
			
#foreach ($artifact in $dependencies)
			<!-- artifact: $artifact -->
            <libraryPathEntry
#if($artifact.getScope() == "rsl")
					autoExtract="true"
					rslUrl="$artifact.getFile().getName().replaceAll('swc', 'swf')"
#end 
                    kind="3" 
                    linkType="$artifact.getLinkType()" 
                    path="$artifact.getPath()"
#if($artifact.getSourcePath())
                    sourcepath="$artifact.getSourcePath()"
#end
                    useDefaultLinkType="false"
                    />

#end
			<libraryPathEntry kind="4" path="">
				<excludedEntries>
					<libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/flex.swc" useDefaultLinkType="false"/>
#foreach ($exclude in $sdkExcludes)
					<libraryPathEntry kind="3" linkType="1" path="$exclude.getPath()" useDefaultLinkType="false" />
#end
				</excludedEntries>
			</libraryPathEntry>
		</libraryPath>


        <sourceAttachmentPath>
#foreach ($artifact in $dependencies)
#if ($artifact.getSourcePath())
            <sourceAttachmentPathEntry
                kind="3"
                linkType="$artifact.getLinkType()"
                path="$artifact.getPath()"
                sourcepath="$artifact.getSourcePath()"
                useDefaultLinkType="false" />
#end 
#end        
        </sourceAttachmentPath>

    </compiler>

    <applications>
#foreach ($application in $applications)
        <application 
                path="$application"
                />
#end
    </applications>

    <modules>
#foreach($module in $moduleFiles)
		<module application="$mainSources/$mainApplication" 
			destPath="$module.replace('mxml', 'swf')" 
			optimize="true" 
			sourcePath="$mainSources/$module"/>
#end
    </modules>
    
    <buildCSSFiles>
#foreach( $cssfile in $cssfiles )
		<buildCSSFileEntry destPath="$ideOutputFolderPath" sourcePath="$cssfile" />
#end
    </buildCSSFiles>

</actionScriptProperties>
