<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flexLibProperties version="3">
  <includeClasses>
#foreach ($flexClass in $flexClasses)
    <classEntry path="$flexClass"/>
#end 
  </includeClasses>
  <includeResources>
#foreach ($include in $includeFiles)
    <resourceEntry destPath="$include.getDestPath()" sourcePath="$include.getSourcePath()"/>
#end 
  </includeResources>
  <namespaceManifests/>
</flexLibProperties>
