<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Flexmojos is a set of maven goals to allow maven users to compile, optimize and test Flex SWF, Flex SWC, Air SWF and Air SWC.
    Copyright (C) 2008-2012  Marvin Froeder <marvin@flexmojos.net>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<actionScriptProperties 
        mainApplicationPath="$mainApplication" 
        version="3"
        >

    <compiler 
            additionalCompilerArguments="$!additionalCompilerArguments" 
            copyDependentFiles="true" 
            enableModuleDebug="true" 
            generateAccessible="$accessible" 
            htmlExpressInstall="true" 
            htmlGenerate="$generateHtmlWrapper" 
            htmlHistoryManagement="true" 
            htmlPlayerVersion="$targetPlayer" 
            htmlPlayerVersionCheck="true" 
            outputFolderPath="$flexBuilderOutputFolderPath" 
            sourceFolderPath="$mainSources" 
            strict="$strict" 
            useApolloConfig="$useApolloConfig" 
            verifyDigests="$verifyDigests" 
            warn="$showWarnings"
            targetPlayerVersion="$targetPlayerVersion"
            >

        <compilerSourcePath>
#foreach ($path in $sources)
            <compilerSourcePathEntry 
                    kind="1" 
                    linkType="1" 
                    path="$path"
                    />
#end 
        </compilerSourcePath>

        <libraryPath
                defaultLinkType="$libraryPathDefaultLinkType">

#foreach ($artifact in $dependencies)
			<!-- artifact: $artifact -->
            <libraryPathEntry 
                    kind="3" 
                    linkType="1" 
                    path="$artifact.getFile().getPath().replaceAll('\\', '/')"
#if ($artifact.getSourceAttachment())
                    sourcepath="$artifact.getSourceAttachment().getPath().replaceAll('\\', '/')"
#end
                    useDefaultLinkType="false"
                    />

#end

#if ($pureActionscriptProject == false)
## workaround to get player global
	      <libraryPathEntry kind="4" path="">
	        <excludedEntries>
	          <libraryPathEntry kind="1" linkType="1" path="${PROJECT_FRAMEWORKS}/locale/{locale}"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/flex.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/qtp.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/rpc.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="4" path="${PROJECT_FRAMEWORKS}/libs/framework.swc" useDefaultLinkType="true">
	            <crossDomainRsls>
	              <crossDomainRslEntry autoExtract="true" policyFileUrl="" rslUrl="framework_3.1.0.2710.swz"/>
	              <crossDomainRslEntry autoExtract="true" policyFileUrl="" rslUrl="framework_3.1.0.2710.swf"/>
	            </crossDomainRsls>
	          </libraryPathEntry>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/datavisualization.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_dmv.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_flashflexkit.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/utilities.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_agent.swc" useDefaultLinkType="false"/>
	        </excludedEntries>
	      </libraryPathEntry>
#else
## only used by pure ActionScript projects
      <libraryPathEntry kind="4" path="">
        <excludedEntries>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_charts.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="1" linkType="1" path="${PROJECT_FRAMEWORKS}/locale/{locale}"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/qtp.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/charts.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/rpc.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/datavisualization.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/framework.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_dmv.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_flashflexkit.swc" useDefaultLinkType="false"/>
          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_agent.swc" useDefaultLinkType="false"/>
        </excludedEntries>
      </libraryPathEntry>
#end

        </libraryPath>

        <sourceAttachmentPath/>

    </compiler>

    <applications>
#foreach ($application in $applications)
        <application 
                path="$application"
                />
#end
    </applications>

    <modules>
#foreach($module in $moduleFiles)
		<module application="$mainSources/$mainApplication" 
			destPath="$module.replace('mxml', 'swf')" 
			optimize="true" 
			sourcePath="$mainSources/$module"/>
#end
    </modules>

    <buildCSSFiles>
#foreach( $cssfile in $cssfiles )
        <buildCSSFileEntry destPath="bin-debug" sourcePath="$cssfile"/>
#end
    </buildCSSFiles>

</actionScriptProperties>
