<?xml version="1.0"?>
<flex-config xmlns="http://www.adobe.com/2006/flex-config">

	<compiler>
	
#if( $accessible )
		<accessible>$accessible</accessible>
#end
		
#if( $allowSourcePathOverlap )
		<allow-source-path-overlap>$allowSourcePathOverlap</allow-source-path-overlap>
#end

#if( $services )
		<services>$services</services>
#end

#if( $compatibilityVersion )
		<compatibility-version>$compatibilityVersion</compatibility-version>
#end

#if( $keepAllTypeSelectors )
		<keep-all-type-selectors>$keepAllTypeSelectors</keep-all-type-selectors>
#end

#if( $contextRoot )
		<context-root>$contextRoot</context-root>
#end

#if( $locales )
		<locale>
#foreach( $locale in $locales )
			<locale-element>$locale</locale-element>
#end
		</locale>
#end

#foreach( $defKey in $defines.keySet() )
		<define>
			<name>$defKey</name>
			<value>$defines.getProperty($defKey)</value>
		</define>
#end

		<keep-as3-metadata>
#foreach( $metadata in $metadatas )
			<name>$metadata</name>
#end
		</keep-as3-metadata>

		<namespaces>
#foreach( $namespace in $namespaces )
			<namespace>
				<uri>$namespace.getUri()</uri>
				<manifest>$namespace.getManifest()</manifest>
			</namespace>
#end
		</namespaces>
		
		<theme>
#foreach( $theme in $themes )
			<filename>$theme</filename>
#end
		</theme>
				
	</compiler>
	
#if( $includeSources )
	<include-sources>
#foreach( $path in $includeSources )
		<path-element>$path</path-element>
#end
	</include-sources>
#end
	
#if( $defaultBackgroundColor )
	<default-background-color>$defaultBackgroundColor</default-background-color>
#end
	
#if( $defaultFrameRate )
	<default-frame-rate>$defaultFrameRate</default-frame-rate>
#end 
	
#if( $scriptMaxRecursionDepth || $scriptMaxExecutionTime  )
	<default-script-limits>
#if( $scriptMaxRecursionDepth )
		<max-recursion-depth>$scriptMaxRecursionDepth</max-recursion-depth>
#end
#if( $scriptMaxExecutionTime )
		<max-execution-time>$scriptMaxExecutionTime</max-execution-time>
#end
	</default-script-limits>
#end
	
#if( $defaultSizeWidth || $defaultSizeHeight )
	<default-size>
#if( $defaultSizeWidth )
		<width>$defaultSizeWidth</width>
#end
#if( $defaultSizeHeight )
		<height>$defaultSizeHeight</height>
#end
	</default-size>
#end

## TODO include all metadata that Flex Mojos supports.
	<metadata>
#if( $metadata )
#if( $metadata.contributor )
			<contributor>$metadata.contributor</contributor>
#end
#if( $metadata.creator )
			<contributor>$metadata.creator</contributor>
#end
#if( $metadata.date )
			<contributor>$metadata.date</contributor>
#end
#if( $metadata.language )
			<contributor>$metadata.language</contributor>
#end
#end
	</metadata>
	
</flex-config>