<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<actionScriptProperties 
        mainApplicationPath="$mainApplication" 
        version="3"
        >

    <compiler 
            additionalCompilerArguments="-locale $locales $!includes" 
            copyDependentFiles="true" 
            enableModuleDebug="true" 
            generateAccessible="false" 
            htmlExpressInstall="true" 
            htmlGenerate="true" 
            htmlHistoryManagement="true" 
            htmlPlayerVersion="9.0.28" 
            htmlPlayerVersionCheck="true" 
            outputFolderPath="bin-debug" 
            sourceFolderPath="$mainSources" 
            strict="true" 
            useApolloConfig="false" 
            verifyDigests="true" 
            warn="true"
            >

        <compilerSourcePath>
#foreach ($path in $sources)
            <compilerSourcePathEntry 
                    kind="1" 
                    linkType="1" 
                    path="$path"
                    />
#end 
        </compilerSourcePath>

        <libraryPath
                defaultLinkType="1">

#foreach ($artifact in $dependencies)
            <libraryPathEntry 
                    kind="3" 
                    linkType="1" 
                    path="$artifact.getFile().getAbsolutePath()" 
                    useDefaultLinkType="false"
                    />
#end

## workaround to get player global
	      <libraryPathEntry kind="4" path="">
	        <excludedEntries>
	          <libraryPathEntry kind="1" linkType="1" path="${PROJECT_FRAMEWORKS}/locale/{locale}"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/flex.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/qtp.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/rpc.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="4" path="${PROJECT_FRAMEWORKS}/libs/framework.swc" useDefaultLinkType="true">
	            <crossDomainRsls>
	              <crossDomainRslEntry autoExtract="true" policyFileUrl="" rslUrl="framework_3.1.0.2710.swz"/>
	              <crossDomainRslEntry autoExtract="true" policyFileUrl="" rslUrl="framework_3.1.0.2710.swf"/>
	            </crossDomainRsls>
	          </libraryPathEntry>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/datavisualization.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_dmv.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_flashflexkit.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/utilities.swc" useDefaultLinkType="false"/>
	          <libraryPathEntry kind="3" linkType="1" path="${PROJECT_FRAMEWORKS}/libs/automation_agent.swc" useDefaultLinkType="false"/>
	        </excludedEntries>
	      </libraryPathEntry>
        </libraryPath>

        <sourceAttachmentPath/>

    </compiler>

    <applications>
        <application 
                path="$mainApplication"
                />
    </applications>

    <modules/>
    
    <buildCSSFiles/>

</actionScriptProperties>
