<?xml version="1.0" encoding="utf-8"?>
<mx:Application xmlns:mx="http://www.adobe.com/2006/mxml" xmlns="*"
                creationComplete="onCreationComplete()">
<!--can't use velocity, got:
java.io.InvalidClassException: org.apache.velocity.runtime.parser.node.ASTprocess; class invalid for deserialization-->
    <mx:Script>
        <![CDATA[

            import flexunit.junit.JUnitTestRunner;
            import flexunit.framework.TestSuite;
$imports

            [Bindable]
            private var runner : JUnitTestRunner;

            private function onCreationComplete() : void {
                status.text = "Please wait running test suite...";
                runner = new JUnitTestRunner();
                runner.port = $port;
                runner.run( createSuite(), onTestComplete );
            }

            private function onTestComplete() : void {
                status.text = "Finished running test suite.";
                fscommand( "quit" );
            }

            private function createSuite() : TestSuite {
                var testSuite : TestSuite = new TestSuite();
$testClasses
                return testSuite;
            }

        ]]>
    </mx:Script>

    <mx:Label id="status" />

</mx:Application>